tornado==5.0.2
pycurl==7.43
shortuuid==0.5.0
pika==0.11.0
pymysql==0.7.11
sqlalchemy==1.1.14
requests
paramiko==2.3.1
redis==2.10.6
PyJWT
cryptography
fire
pyotp
#flower===0.9.2
#tornado-celery===0.3.5
aliyun-python-sdk-core
aliyun-python-sdk-dysmsapi
apscheduler